.graphic {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.logo img {
  height: 200px;
}

.eclair img {
  height: 300px;
}

.karamel img {
  margin: 10px 0 10px 0;
}

.ads img {
  margin: 5px;
}
