.illustration {
  max-width: 1000px;
  margin: 0 auto 30px;
}

.avatar img {
  width: 150px;
}

.book img {
  width: 220px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.food img {
  width: 200px;
}

.digital img {
  height: 400px;
  margin: 8px;
}
