@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(165,192,238);
  background: linear-gradient(138deg, rgba(165,192,238,1) 0%, rgba(209,193,237,1) 90%, rgba(215,197,251,1) 100%);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav {
  position: fixed;
  top: 5px;
  right: 20px;
}

.nav li {
  display: inline;
}

a {
  color: white;
  opacity: 0.7;
}

a:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.info {
  margin-top: 40vh;
  height: 100vh;
}

.info .links ul {
  list-style: none;
  padding-left: 0;
}

.info .links li {
  display: inline;
  font-size: 24px;
}

.info .next a {
  opacity: 1;
  font-size: 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-top: 40px;
}

.projects {
  max-width: 1000px;
  margin: 0 auto;
}

.tours {
  background-image: url('../img/thustours.png');
  background-size: cover;
  width: 400px;
  height: 250px;
}

.chowtime {
  background-image: url('../img/ChowTime.png');
  background-size: cover;
  width: 400px;
  height: 250px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(77, 77, 77, 0.7);
  opacity: 0;
  transition: all 0.5s;
  padding: 25px;
}

.overlay h4, .overlay p {
  transform: translateY(40px);
  transition: all 0.7s;
}

.overlay h4 {
  margin-top: 55px;
}

.overlay p {
  font-weight: 300;
}

.chowtime:hover .overlay, .tours:hover .overlay {
  opacity: 1;
}

.chowtime:hover .overlay h4, .chowtime:hover .overlay p, .tours:hover .overlay h4, .tours:hover .overlay p {
  opacity: 1;
  transform: translateY(0px);
}

.chowtime:hover .overlay p, .tours:hover .overlay p {
  transition-delay: 0.1s;
}

.footer {
  font-size: 12px;
  font-weight: 300;
}
